body:not(.h-feed) {
    --scroll-bar-color: var(--primary-color-faded);
}

.article {
    line-height: 1.75;
}

.article__header {
    margin: 1rem 0;
    text-align: center;
}

.article__title {
    font-size: 32px;
}

.article__byline {
    display: inline;
    font-size: 18px;
}

.article .timestamp {
    display: inline;
    font-size: 14px;
}

.article__summary {
    font-style: italic;
    text-align: center;
}

.article__summary::before {
    content: "Quick summary ↬ ";
    font-family: serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.article__body {
    text-indent: 2.5rem;
}

.article__body p:first-child::first-letter {
    font-family: Helvetica serif;
    padding: 0 .5rem;
    margin: 0 .5rem;
    color: var(--secondary-color);
}

.article__heading {
    display: flex;
}

.article__heading:after {
    content: " ";
    flex-grow: 1;
    background: linear-gradient(to right, var(--primary-color), #ffffff);
    position: relative;
    width: auto;
    height: 2px;
    margin: 1.5rem 2px 0 .5rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;
}

@supports not (initial-letter) {
    .article__body p:first-child {
        text-indent: 0;
    }

    .article__body p:first-child::first-letter {
        font-size: 5rem;
        float: left;
        line-height: 5rem;
    }
}

@supports (initial-letter) {
    .article__body p:first-child::first-letter {
        initial-letter: 3;
    }
}
