/* www.color-hex.com/color/434279 */
:root {
    --primary-color: #434279;
    --secondary-color: #427943;
    --tertiary-color: #794342;
    --primary-text-color: #FFFFFF;
    --success-color: #41B14F;
    --error-color: #D33A2C;
    --pending-color: #F88040;
    --border-color: var(--secondary-color);
    --badge-color: var(--primary-color);
    --like-color: gold;
    --boost-color: green;
    --reply-color: skyblue;

    --primary-color-faded: #a1a0bc;
    --secondary-color-faded: #a0bca1;
    --tertiary-color-faded: #bca1a0;

    --primary-fade: #43427910;

    --h-card-mini-height: 50px;
    --avatar-width: 100px;
    --avatar-height: 100px;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* TODO: update these colors for a dark mode */
        --primary-color: #434279;
        --secondary-color: #427943;
        --tertiary-color: #794342;
        --primary-text-color: #FFFFFF;
        --success-color: #41B14F;
        --error-color: #D33A2C;
        --pending-color: #F88040;
        --like-color: gold;
        --boost-color: green;
        --reply-color: skyblue;

        --primary-color-faded: #a1a0bc;
        --secondary-color-faded: #a0bca1;
        --tertiary-color-faded: #bca1a0;

        --primary-fade: #43427910;

        --h-card-mini-height: 50px;
        --avatar-width: 100px;
        --avatar-height: 100px;
    }
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::selection {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

html, body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, serif;
    line-height: 1.5;
    --scroll-bar-color: transparent;
}

pre, code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    padding: 1rem 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    padding: 0 1rem;
}

.main-header h1, .main-header a, .timestamp a {
    color: currentColor;
}

.main-nav {
    font-size: 18px;
}

.main-nav a {
    padding: 0.5rem 1rem;
}

main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
    padding: 1rem;
    margin: 0;
    background-color: #ecf0f5;
}

.main-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 2vh 2vw;
    background-color: #ffffff;
    color: var(--secondary-color);
    border-top: 1px solid var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0.5rem 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}

a:hover {
    text-shadow: none;
    background-size: 100% 3px;
}

a:focus {
    outline: none;
    text-decoration: underline;
    text-shadow: 1px 0px 0px currentColor; 
}

.h-card-grid {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.h-card-grid__first-row {
    display: flex;
    flex-flow: row;
    flex: 1 0 auto;
}

.h-card-grid__second-row {
    column-count: 3;
    list-style: none;
    align-self: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.h-card-grid__third-row {
    grid-column: span 2;
}

.h-card-grid__list-item {
    line-height: 2;
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

.h-card__avatar-link,
.h-card__avatar img {
    width: var(--avatar-width);
    height: var(--avatar-height);
}

.h-card__avatar a:hover,
.h-card__avatar a:focus {
    background: initial;
}

.h-card__avatar .u-photo:hover,
.h-card__avatar .u-photo:focus,
.h-card__avatar a:focus .u-photo {
    filter: drop-shadow(4px 4px 2px var(--secondary-color-faded));
}

.h-card__avatar .u-photo {
    border-radius: 30%;
    border-top: 1px outset var(--secondary-color);
    border-left: 1px outset var(--secondary-color);
    transition: filter ease 250ms;
}

.h-card__name {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 0 2rem;
}

.h-card .p-name {
    margin: 0;
}

.entries__heading {
    font-size: 26px;
    text-decoration: underline;
}

.entries header {
    display: flex;
    justify-content: space-between;
}

.entries .timestamp {
    padding: 0 1rem;
}

.block {
    background-color: #ffffff;
    border:1px solid var(--border-color);
    box-shadow: 3px 3px 0px var(--secondary-color-faded);
    border-radius: 3px;
    margin: 10px auto 0px;
}

.block__inner {
    padding: 0 1rem;
}

.block--padding {
    padding: 1rem;
}

.entry--inline {
    display: inline;
}

.entry__name {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    margin: 0;
}

.h-feed .entry__summary {
    padding: 0 0 0 2rem;
    border-left: 2px solid var(--secondary-color);
}

.entry__summary {
    font-style: italic;
    margin: 1rem auto;
}

.entry__timestamp {
    font-size: 12px;
    font-weight: bold;
    color: var(--secondary-color);
    align-self: center;
}

.entry__img {
    display: block;
    width: 50%;
    height: 80%;
    margin: 0 auto;
}

.figure__caption {
    padding: 0;
    border: none;
    text-align: center;
    color: grey;
    border-bottom: 1px solid var(--secondary-color-faded);
}

.tag-block {
    background-color: #f7f7f7;
    text-align: center;
    padding: 1rem 0;
}

.tags {
    margin: 1rem auto;
}

.p-category {
    display: inline-flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    align-items: center;

    background-color: var(--primary-color);
    color: var(--primary-text-color);
    padding: 0.25rem;
    transition: background-color ease 250ms;
    font-size: 12px;
}

.p-category svg {
    width: 1rem;
    height: 1rem;
    margin: 0 0.15rem;
    fill: var(--primary-text-color);
}

.p-category:hover,
.p-category:focus {
    background-color: var(--primary-color);
    text-shadow: 0 1px 1px var(--primary-color-faded);
    text-decoration: underline;
}

.context {
    padding: 0.5rem 1rem;
    color: var(--tertiary-color);
    border-bottom: 1px solid var(--tertiary-color-faded);
}

.interactions {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--tertiary-color-faded);
}

.svg-icon {
    width: 25px;
    height: 25px;
}

.entry--like {
    --badge-color: var(--like-color);
    --border-color: var(--like-color);
}

.entry--boost {
    --badge-color: var(--boost-color);
    --border-color: var(--boost-color);
}

.entry--reply {
    --badge-color: var(--reply-color);
    --border-color: var(--reply-color);
}

.entry--has-badge p a {
    text-decoration: underline double var(--badge-color);
}

.entry__badge {
    width: 50px;
    height: 50px;
}

.entry__badge > .svg-icon {
    transform: translateY(-45px);
    fill: white;
}

.entry__badge {
    border-top: 50px solid var(--badge-color);
    border-right: 50px solid transparent;
}

/*** Utility Classes ***/
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

.spacer {
    margin: 0;
    padding: 0;
    color: currentColor;
}

.divider {
    width: 25vw;
    border: 0;
    border-top: 2px solid var(--secondary-color-faded);
    margin: 2rem auto;
}

.extended-divider {
    width: 75vw;
    border: 0;
    border-top: 2px solid var(--secondary-color-faded);
    margin: 0.5rem auto;
}

.is-visible,
.back-to-top.is-visible {
    opacity: 1;
    visibility: visible;
}

/*** /End Utility Classes ***/

/**********************/
/* back-to-top styles */
/**********************/
.back-to-top {
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    text-shadow: none;
    border-radius: 50%;
    padding: 12.5px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;
    background-color: var(--primary-color-faded);
    box-shadow: 2px 2px 5px var(--blue);
}

.back-to-top:focus,
.back-to-top:active {
    outline: none;
}

.back-to-top svg {
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.progress-ring {
    stroke: var(--secondary-color);
    stroke-width: 6;
    transition: 0.2s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

@media all and (max-width: 1024px) {
    a.back-to-top {
        opacity: .3;
    }
}

a.back-to-top:focus, a.back-to-top:hover {
    background-color: var(--primary-color);
    opacity: 1;
}

a.back-to-top:focus .progress-ring, a.back-to-top:hover .progress-ring {
    stroke: var(--secondary-color-faded);
}

/***********************/
/* Progress Bar Styles */
/***********************/
#progress-bar {
    background: linear-gradient(to right, var(--scroll-bar-color) var(--scroll), transparent 0);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 4px;
    z-index: 1;
}

/************************/
/* Navbar Search Styles */
/************************/
.search-form {
    display: inline;
}

.search {
    display: inline;
    color: var(--primary-text-color);
    /* box-shadow: 0 15px 35px rgba(14, 35, 38, 0.1), 0 5px 15px rgba(0, 0, 0, 0.05); */
    transform: translate(-50%, -50%);
}

.search input {
    width: 50px;
    border: none;
    outline: none;
    font-size: 24px;
    font-family: serif;
    cursor: pointer;
    opacity: 0;
    transition: all 0.2s;
    border-radius: 1rem;
    color: var(--primary-color);
}

.search label {
    position: relative;
}

.search input:valid,
.search input:focus {
    width: 250px;
    padding: 0 1rem;
    opacity: 1;
    cursor: auto;
}

.icon {
    position: absolute;
    right: 1rem;
    top: 0;
    width: 30px;
    height: 30px;
    pointer-events: none;
    fill: var(--primary-text-color);
}

.skip-link {
    position: absolute;
    top: 3rem;
    left: 3rem;
    padding: 1rem;
    z-index: 99;
    background: white;
    border: 1px solid var(--border-color);
    transform: translateY(-7rem);
    transition: transform 300ms ease-in;
}

.skip-link:focus {
    transform: none
}
