.entry--note header,
.entry--boost header,
.entry--like header {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    align-content: baseline;
    justify-content: space-between;
    text-align: center;
}

.entry--note .timestamp,
.entry--boost .timestamp,
.entry--like .timestamp {
    align-self: baseline;
    margin: 0;
    padding: 0.5rem;
    font-size: 12px;
}

.h-card--mini {
    display: flex;
    flex: 1 0 auto;
    font-size: 12px;

    padding: 5px 1rem;
    height: var(--h-card-mini-height);

    --avatar-width: 45px;
    --avatar-height: 45px;
}

.h-card__name > * {
    margin: 0;
}

