@page {
    size: 5.5in 8.5in;

    @footnote {
        border-top: 1pt solid black;
    }
}

@page :left {
    margin-left: 3cm;

    @bottom-left {
        content: counter(page);
    }
}

@page :right {
    margin-left: 4cm;
    
    @bottom-right {
        content: counter(page);
    }

    @bottom-left {
        margin: 10pt 0 30pt 0;
        border-top: .25pt solid #666666;
        content: "published with Booth.pub";
        font-size: 9pt;
        color: #333333;
    }
}

@page :blank {
    @top-center {
        content: "This page is intentionally left blank."
    }
}

h1, h2, h3, h4, h5 {
    page-break-after: avoid;
}

table, figure {
    page-break-inside: avoid;
}
