@media screen and (max-width: 600px) {
    .main-header {
        padding: 0;
    }

    .main-header h1 {
        padding: 0 1rem;
    }

    .main-nav {
        line-height: 3rem;
        overflow: scroll hidden;
        white-space: nowrap;
    }

    .search-form {
        margin: 0 .5rem;
    }

    .h-card-grid {
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr;
    }

    .h-card-grid__first-row {
        grid-column: span 2;
    }

    .h-card__name {
        font-size: 14px;
        float: right;
        padding: 0 0.5rem;
    }

    .h-card__avatar {
        --avatar-width: 75px;
        --avatar-height: 75px;
    }

    .sm-hidden {
        display: none;
    }
}

