@media screen and (min-width: 601px) {
    .main-header {
        display: flex;
        flex-flow: row nowrap;
        min-height: 50px;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }

    .entries {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 900px) {
    .h-entry, .block {
        min-width: 750px;
        max-width: 900px;
        margin: 10px auto 0px;
    }
}

