:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

.solarized-dark {
    --badge-color: var(--violet);
    --border-color: var(--badge-color);
    --like-color: var(--yellow);
    --boost-color: var(--green);
    --reply-color: var(--cyan);
    --tag-color: var(--magenta);
    --primary-text-color: var(--base1);
    --divider-color: var(--base0);
}

.solarized-dark ::selection {
    background-color: var(--base01);
    color: var(--base2);
}

.solarized-dark body,
.solarized-dark main {
    color: var(--primary-text-color);
    background-color: var(--base03);
}

.solarized-dark .main-header {
    color: var(--primary-text-color);
    background-color: var(--base02);
}

.solarized-dark .main-footer {
    color: var(--primary-text-color);
    background-color: var(--base02);
    border-top: 1px solid var(--divider-color);
}

.solarized-dark h1,
.solarized-dark h2,
.solarized-dark h3,
.solarized-dark h4,
.solarized-dark h5,
.solarized-dark h6 {
    color: var(--primary-text-color);
}

.solarized-dark a {
    color: var(--blue);
}

.solarized-dark a:hover {
    color: var(--cyan);
    background-color: var(--base2);
}

.solarized-dark a:focus {
    color: var(--blue);
    background-color: var(--base2);
    text-shadow: none;
}

.solarized-dark .h-card__avatar a:hover,
.solarized-dark .h-card__avatar a:focus {
    background-color: initial;
}

.solarized-dark .h-card__avatar .u-photo:hover,
.solarized-dark .h-card__avatar .u-photo:focus,
.solarized-dark .h-card__avatar a:hover .u-photo,
.solarized-dark .h-card__avatar a:focus .u-photo {
    filter: drop-shadow(4px 4px 2px var(--base1));
}

.solarized-dark .h-card__avatar .u-photo {
    border-top: 1px outset var(--base01);
    border-left: 1px outset var(--base01);
}

.solarized-dark .block {
    background-color: var(--base02);
    box-shadow: 1px 1px 3px 0 var(--border-color);
}

.solarized-dark .h-feed .entry__summary {
    border-left: 2px solid var(--green);
}

.solarized-dark .entry__timestamp {
    color: var(--primary-text-color);
}

.solarized-dark .h-entry .u-photo + .p-summary {
    color: var(--base01);
    border-bottom: 1px solid var(--base2);
}

.solarized-dark .p-category {
    background-color: var(--base03);
    color: var(--tag-color);
}

.solarized-dark .p-category svg {
    fill: var(--tag-color);
}

.solarized-dark .p-category:hover,
.solarized-dark .p-category:focus {
    background-color: var(--base3);
    text-shadow: 0 1px 1px var(--base1);
}

.solarized-dark .context {
    padding: 0.5rem 1rem;
    color: var(--base00);
    border-bottom: 1px solid var(--base01);
}

.solarized-dark .divider {
    border-top: 2px solid var(--divider-color);
}

.solarized-dark .extended-divider {
    border-top: 2px solid var(--divider-color);
}

.solarized-dark .back-to-top {
    background-color: var(--violet);
}

.solarized-dark .progress-ring {
    stroke: var(--magenta);
}

.solarized-dark a.back-to-top:focus,
.solarized-dark a.back-to-top:hover {
    background-color: var(--blue);
}

.solarized-dark a.back-to-top:focus .progress-ring,
.solarized-dark a.back-to-top:hover .progress-ring {
    stroke: var(--cyan);
}

