/* A theme inspired by https://www.typewolf.com */
:root {
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

.typewolf {
    --primary-color: #916a70;
    --secondary-color: #e6ddde;
    --tertiary-color: #654a4e;
    --badge-color: var(--violet);
    --border-color: var(--primary-color);
    --like-color: var(--yellow);
    --boost-color: var(--green);
    --reply-color: var(--cyan);
    --tag-color: var(--primary-color);
    --primary-text-color: var(--primary-color);
    --secondary-text-color: #a32929;
    --divider-color: var(--primary-color);
}

.typewolf ::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

.typewolf body,
.typewolf main {
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
}

.typewolf .main-header {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.typewolf .main-footer {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-top: 1px solid var(--divider-color);
}

.typewolf .main-header a,
.typewolf .main-footer a {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.typewolf .main-header a:hover, 
.typewolf .main-footer a:hover {
    color: #ffffff;
}

.typewolf h1,
.typewolf h2,
.typewolf h3,
.typewolf h4,
.typewolf h5,
.typewolf h6 {
    color: var(--primary-text-color);
}

.typewolf a {
    color: var(--secondary-text-color);
}

.typewolf a:hover {
    color: var(--primary-color);
    background-color: transparent;
}

.typewolf a:focus {
    color: var(--tertiary-color);
    text-shadow: 0 0px 1px var(--secondary-text-color);
}

.typewolf .h-card .avatar-container .u-photo:hover,
.typewolf .h-card .avatar-container .u-photo:focus,
.typewolf .h-card .avatar-container a:focus .u-photo {
    filter: drop-shadow(4px 4px 2px var(--base1));
}

.typewolf .h-card .avatar-container .u-photo {
    border-top: 1px outset var(--base01);
    border-left: 1px outset var(--base01);
}

.typewolf .h-entry {
    border: none;
}

.typewolf .block__inner {
    padding: 0 1rem 1rem;
}

.typewolf .tags {
    margin: 0 auto;
}

.typewolf .h-entry {
    background-color: var(--#ffffff);
    box-shadow: 1px 1px 3px 0 var(--border-color);
}

.typewolf .block {
    border: none;
    box-shadow: 1px 1px 3px 0 var(--border-color);
}

.typewolf .h-feed .h-entry .p-summary {
    border-left: 2px solid var(--green);
}

.typewolf .h-entry .timestamp {
    color: var(--primary-text-color);
}

.typewolf .h-entry .u-photo + .p-summary {
    color: var(--base01);
    border-bottom: 1px solid var(--base2);
}

.typewolf .p-category {
    background-color: var(--secondary-color);
    color: var(--tag-color);
}

.typewolf .p-category svg {
    fill: var(--tag-color);
}

.typewolf .p-category:hover,
.typewolf .p-category:focus {
    color: var(--secondary-color);
    background-color: var(--tag-color);
    text-shadow: 0 1px 1px var(--primary-color);
}

.typewolf .p-category:hover svg,
.typewolf .p-category:focus svg {
    fill: var(--secondary-color);
}

.typewolf .context {
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.typewolf .divider {
    border-top: 2px solid var(--divider-color);
}

.typewolf .extended-divider {
    border-top: 2px solid var(--divider-color);
}

.typewolf .back-to-top {
    background-color: var(--primary-color);
}

.typewolf .progress-ring {
    stroke: var(--secondary-color);
}

.typewolf a.back-to-top:focus,
.typewolf a.back-to-top:hover {
    background-color: var(--blue);
}

.typewolf a.back-to-top:focus .progress-ring,
.typewolf a.back-to-top:hover .progress-ring {
    stroke: var(--cyan);
}

.typewolf a.back-to-top {
    box-shadow: 2px 2px 5px var(--tertiary-color);
}

